@if (processes.isLoading()) {
    <p>Loading...</p>
}
@else if (processes.error()) {
    <p>Error {{processes.error() | errMsg}}</p>
}
@else {
    <p-table [value]="processes.value()" [scrollable]="true" scrollHeight="100%" size="small">
        <ng-template #header>
            <tr>
                <th class="w-full">Process</th>
                <th class="w-auto">Machine</th>
                <th class="w-auto">User</th>
            </tr>
        </ng-template>
        <ng-template #body let-process let-ri="rowIndex">
            <tr [routerLink]="process.id" class="cursor-pointer" [class.text-green-600!]="process.isOnline"
                pTooltip="Sending: {{process.isSending}} last online: {{process.lastOnline | dateDiff}}">
                <td class="text-nowrap">{{ process.processName }} i-{{ri}}</td>
                <td class="text-nowrap">{{ process.machineName }}</td>
                <td class="text-nowrap">{{ process.userName }}</td>
            </tr>
        </ng-template>
    </p-table>
}