<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<configSections>
	</configSections>

  <appSettings>
    <!-- <add key="DiagnosticExplorerUri" value="http://localhost:2803/diagnostics; http://diagnostics:2803/diagnostics; http://drdiagnostics:2803/diagnostics" /> -->
    <!-- <add key="DiagnosticExplorerUri" value="http://diagnostics:2803/diagnostics, http://drdiagnostics:2803/diagnostics" /> -->
    <!-- <add key="DiagnosticExplorerUri" value="http://localhost:4080/api/diagnostics" /> -->
    <!-- <add key="DiagnosticExplorerUri" value="http://localhost:2803/diagnostics" /> -->
    <add key="DiagnosticExplorerUri" value="http://localhost:4280/api/client/negotiate" />
    <!-- <add key="DiagnosticExplorerUri" value="http://drdiagnostics:2803/diagnostics" /> -->
    <!-- <add key="DiagnosticExplorerUri" value="http://diagnostics.lansdownepartners.local/api/diagnostics" /> -->
    <!-- <add key="DiagnosticExplorerUri" value="http://drdiagnostics.lansdownepartners.com/api/diagnostics" /> -->
    <!-- <add key="DiagnosticExplorerUri" value="http://diagnostics.lansdownepartners.local/api/diagnostics; http://drdiagnostics.lansdownepartners.local/api/diagnostics" /> -->
  </appSettings>

</configuration>
