// Event severity level row styles
.event-row-verbose,
.event-row-debug,
.event-row-info {
  background-color: rgb(0, 122, 46) !important; // green-900/30
  user-select: none;
  &:hover {
    background-color: rgb(0, 119, 39); // green-900/50
  }
}

.event-row-notice {
  background-color: rgb(161, 29, 255); // purple-900/30
  user-select: none;
  &:hover {
    background-color: rgb(144, 0, 255); // purple-900/50
  }
}

.event-row-warn {
  background-color: rgb(173, 83, 0); // orange-900/30
  user-select: none;
  &:hover {
    background-color: rgb(173, 104, 0); // orange-900/50
  }
}

.event-row-error {
  background-color: rgb(255, 95, 95); // red-900/30
  user-select: none;
  &:hover {
    background-color: rgb(255, 87, 87); // red-900/50
  }
}

.event-row-critical,
.event-row-fatal {
  background-color: rgb(166, 0, 0); // red-950/50
  user-select: none;
  &:hover {
    background-color: rgb(114, 0, 0); // red-950/70
  }
}

